@import url(./reset.css);

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/mainFont/GochiHand-Regular.ttf);
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/secondaryFont/Dosis-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
}
:root {
  --mainColor: #60a5fa;
  --secondaryColor: #2563eb;
  --mainShadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  --secondaryShadow: 8px 8px 24px 4px rgba(66, 68, 90, 1);
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    var(--mainColor) 10%,
    var(--secondaryColor) 100%
  );
}
html {
  font-family: 'secondaryFont';
}

header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;

  & h1 {
    font-size: 2rem;
    & > span {
      font-family: 'mainFont';
      color: var(--secondaryColor);
      font-weight: bold;
      font-size: 3rem;
    }
  }
  & h3 {
    font-size: 1.3rem;
    border-bottom: 2px solid var(--secondaryColor);
  }
  & > .socials {
    display: flex;
    gap: 0.7rem;
    align-items: flex-start;
    button {
      outline: none;
      border: 2px solid var(--secondaryColor);
      font-weight: bold;
      padding: 0.3rem 0.4rem;
      border-radius: 1rem;
    }
    i {
      padding: 0.3rem;
      border-radius: 1rem;
      border: 2px solid var(--secondaryColor);
    }
    i,
    button {
      background-color: white;
      transition: 0.5s;
      cursor: pointer;
    }
    i:hover,
    button:hover {
      background-color: var(--mainColor);
      transform: translateY(-2px);
      box-shadow: var(--mainShadow);
    }
  }
}
.sticky {
  background-color: rgba(255, 255, 255, 0.7);
}

main {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2rem 1rem;
  & > * {
    background-color: #fff;
    border-radius: 1rem;
  }
  .projectHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
    h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: bold;
    }
    button {
      font-size: 1rem;
      font-weight: bold;
      transition: 0.3s;
      border: 2px solid var(--secondaryColor);
      color: black;
      background-color: white;
      border-radius: 0.5rem;
      padding: 0.3rem 0.5rem;

      cursor: pointer;
    }
    button:hover {
      box-shadow: var(--mainShadow);
      background-color: var(--mainColor);
      transform: translateY(-2px);
      outline: none;
    }
  }
}

dialog {
  display: grid;
  gap: 0.5rem;
  width: 60%;
  height: 20rem;
  grid-template-columns: 1fr 1fr;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 1.5rem;
  }
  i {
    line-height: 0;
    box-sizing: border-box;
    justify-self: end;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  i:hover {
    transform: scale(1.1) translateY(-3px);
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;

    & > :not(div) {
      grid-column: span 2;
    }

    input,
    textarea {
      margin-bottom: 0.5rem;
    }

    div {
      width: minmax(40% 5rem);
      display: flex;
      flex-direction: column;
    }
    & > div:last-of-type {
      justify-self: end;
    }
  }
  button {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    background-color: #fff;
    transition: 0.3s;
    font-family: 'secondaryFont';
  }
  button:disabled {
    border: 2px solid rgb(173, 173, 173);
  }

  button:hover:not([disabled]) {
    transform: translateY(-4px);
    background-color: var(--mainColor);
  }
}

div.overlay {
  opacity: 0;
  transition: 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Kolor tła z przezroczystością */
  backdrop-filter: blur(5px); /* Rozmazanie tła */
  z-index: -9999;
}
div.dialogOpen {
  opacity: 1;
  z-index: 999;
}

.dialogAnimation[open] {
  animation: myFadeIn 1s ease normal;
}

@keyframes myFadeIn {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 20rem;
    width: 60%;
  }
}

.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 0.4rem;
  div {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--mainColor);
    padding: 1rem;
    gap: 0.5rem;
    transition: 0.3s;
    border-radius: 0.5rem;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: var(--mainShadow);
    }
    h3 {
      color: #2563eb;
      text-align: center;
      font-size: 1.1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

dialog.changeDateDialog {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 10rem;
  gap: 1rem;
  i {
    margin-left: auto;
  }
  input,
  button {
    cursor: pointer;
  }
}

.changeDateDialog[open] {
  animation: dialogFadeIn 1s ease normal;
}

@keyframes dialogFadeIn {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 10rem;
    width: 15rem;
  }
}

.displayProject {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  fieldset {
    border: 2px solid var(--secondaryColor);
    padding: 1rem;
    display: flex;
    gap: 1rem;
    font-weight: bold;
    align-items: end;
    i {
      cursor: pointer;
      color: var(--secondaryColor);
      transition: 0.3s;
      &:hover {
        transform: translateY(-3px);
        box-shadow: var(--mainShadow);
      }
    }
  }
}

.taskContainer {
  div {
    display: flex;
    gap:.5rem;
    align-items: center;
  }
}
