@import url(./reset.css);

@font-face {
  font-family: 'mainFont';
  src: url(../fonts/mainFont/GochiHand-Regular.ttf);
}
@font-face {
  font-family: 'secondaryFont';
  src: url(../fonts/secondaryFont/Dosis-VariableFont_wght.ttf);
}

:root {
  --mainColor: #60a5fa;
  --secondaryColor: #2563eb;
  --mainShadow: 8px 8px 24px -9px rgba(66, 68, 90, 1);
  --secondaryShadow: 8px 8px 24px 4px rgba(66, 68, 90, 1);
  box-sizing: border-box;
}

body {
  background: var(--mainColor);
}
html {
  font-family: 'secondaryFont';
}

header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
  position: fixed;
  width: 100%;

  & h1 {
    font-size: 2rem;
    & > span {
      font-family: 'mainFont';
      color: grey;
      font-weight: bold;
      font-size: 3rem;
    }
  }
  & h3 {
    font-size: 1.3rem;
  }
  & > .socials {
    display: flex;
    gap: 0.7rem;
    align-items: flex-start;
    button {
      outline: none;
      border: none;
      font-weight: bold;
      padding: 0.3rem 0.4rem;
      border-radius: 1rem;
    }
    i {
      padding: 0.3rem;
      border-radius: 50%;
    }
    i,
    button {
      background-color: white;
      transition: 0.5s;
      cursor: pointer;
    }
    i:hover,
    button:hover {
      background-color: var(--mainColor);
      transform: translateY(-2px);
      box-shadow: var(--mainShadow);
    }
  }
}

main {
  padding-top: 10rem;
  font-size: 5rem;
}
